[Unit]
  Description= CIFS Mount NAS
  Requires= network-online.target
  After=network-online.service

[Mount]
  What=//dockerhost/nas
  Where=/media/nas
  Options=credentials=/etc/smb_credentials.txt,rw,uid=1000,gid=1000,vers=3.11
  Type=cifs

[Install]
  WantedBy=multi-user.target
